h1 {
  font-weight: 700;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.packed__item, .unpacked__item {
  display: flex;
  justify-content: space-between;
  width: 300px;  
  align-items: center;
}

.button-primary {
  margin-left: 20px;
}

.todo-content {
  display: flex;
}

.input__field {
  margin-bottom: 40px;
}